name: Docker Build

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  build_and_publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get NVIDIA driver version
        id: nvidia_version
        run: echo "version=$(grep -oP 'ARG NVIDIA_VERSION=\K.+' Dockerfile)" >> $GITHUB_OUTPUT

      - name: Get current date
        id: date
        run: echo "date=$(date +'%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: ${{ github.event_name == 'push' }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/steam-headless-nvidia-k8s:${{ steps.date.outputs.date }}-${{ steps.nvidia_version.outputs.version }}
            ghcr.io/${{ github.repository_owner }}/steam-headless-nvidia-k8s:latest
